$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



@media screen and (max-width: 768px) {
  #main {

    // change to responsive way !
    .col-xs-12 {
      text-align: center;
    }
  }
}


@media screen and (min-width: 768px) {
  #main {
    .col-sm-6 a {
      margin-top:1.3em;
    }
  }
}