<div class="jumbotron">
  <div id="main" class="row">
  <div class="col-xs-12 col-sm-6 text-right">
    <p class="btn-group btn-group-lg">
      <button type="button" class="btn btn-default ion-man" ng-class="{active: parent == 'dad'}" ng-click="parent='dad'"> Père</button>
      <button type="button" class="btn btn-default ion-woman" ng-class="{active: parent == 'mom'}" ng-click="parent='mom'"> Mère</button>
    </p>
    <br/>
    <p class="btn-group  btn-group-lg">
      <button type="button" class="btn btn-default ion-male" ng-class="{active: sex == 'male'}" ng-click="sex='male'"> Garçon</button>
      <button type="button" class="btn btn-default ion-female" ng-class="{active: sex == 'female'}" ng-click="sex='female'"> Fille</button>
    </p>
  </div>

  <div class="col-xs-12 col-sm-6 text-left">
    <a class="btn btn-lg btn-primary" ng-href="#/choose/{{parent}}/{{sex}}">Démarrer !</a>
  </div>
</div>
</div>
